h1 {color: Purple;
  font-weight: bold;
}
body {
  background-color: Lightgray;
}
body {
  font-family: serif;
  background-image: url("/home/alphania/Downloads/rice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal;
  background-blend-mode: overlay;
}
.ima {
  float: right;
}
h2 {
  color: purple;
  font-weight: bold;
}
.jumbotron {
  background-color: inherit;
}
